    body{background-color: whitesmoke;}
h1{
    color: black;
    font-size: 40px;
    font-style: 'Bangers';
}
h2{color:black;
font-size: 35ppx;
font-style: 'Bangers';
}   
ol{color:orange;}
img{width: 300px;}